{
    "trailingComma": "none",
    "tabWidth": 3,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "printWidth": 90,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]

}